h1 {
	text-align: center;
	padding: 18px 20px;
}

.contact {
	width: 375px;
	border: 15px solid #333333;
	margin: auto;
    width: 50%;
    text-align: center;
}

.contactinside {
	font-family:"Arial Black"
}

.top {
	
}

#fylde {
	display: block;
	padding; 10px 10px;
	text-align: center;
}
